body {
    background-color: #FFFDEC;
}

main {
    background-color: #FFFDEC;
}

.login-container {
    margin: 4% 25%;
    width: 400px;
    display: flex;
    top: 354px;
    left: 500px;
    border-radius: 40px 40px 40px 40px;
    /* background-color: #9EB2A0; */
    text-align: center;
    align-items: flex-end;
}

form {
    padding-left: 20px;
    background-color: #9EB2A0;
    border-radius: 40px 40px 40px 40px;
}

.em {
    padding-right: 330px;
    font-family: "Margarine", serif;
    font-size: 26px;
    color: #FFFFFF;

}

.pass {
    font-family: "Margarine", serif;
    color: #FFFFFF;
    padding-right: 270px;
    font-size: 26px;
}

h2 {
  
    text-align: center;
    /* margin: 0 auto; */
    /* margin-bottom: 83px; */
    padding-top: 41px;
    /* padding-bottom: 41px; */
    font-family: "Margarine";
    font-size: 40px;
    letter-spacing: 5px;
    /* font-weight: 400; */
    line-height: 48.39px;
    /* text-align: center; */
    /* text-underline-position: from-font; */
    /* text-decoration-skip-ink: none; */
    color: #FFFFFF;

}

.input-group {
    display: flex;
        margin-bottom: 15px;
        flex-direction: column;}

.input-group label {
    display: block;
    margin-bottom: 5px;
    letter-spacing: 1px;
    font-size: 25px;
}

.input-group input {

    width: 365px;
    height: 40px;
    top: 354px;
    left: 500px;
    border-radius: 20px 20px 20px 20px;
    border-color: transparent;

}

.login-button {
    cursor: pointer;
    width: 200px;
    padding: 6px;
    border-radius: 30px 30px 30px 30px;
    border-style: none;
   margin: 40px 0px;
    color: #86A788;
    font-family: "Margarine";
    font-size: 32px;
    font-weight: 400;
    line-height: 43.02px;
    background-color: #FFE2E2;
}

.link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* padding-left:40px ; */

}

.link a {
    font-family: "Margarine", serif;
    color: #FFFFFF;
    font-size: 16px;
    text-decoration: none;
}

.link a:hover {
    text-decoration: underline;
}

img {
    /* margin-top: 10px; */
    /* margin-left: 100px; */
    width: 350px;
    height: 350px;
}
.input-group{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.input-container{
    position: relative;
    display: flex;
}
button#showpass{
    position: absolute;
    right: 10px;
    background-color: transparent;
    border: transparent;
    border-radius: 0px 15px 15px 0px;
    cursor: pointer;
    top: 30%;
    right: 25px;
}